<ion-view view-title="用户注册">
		<ion-nav-buttons side="left">

      </ion-nav-buttons>

        <ion-content scroll="true" direction="y"  has-bouncing="false">
        <div class="row row-center">
           <div class="col col-center">
   					<img src="./img/userhead.jpg" style="max-width:98%;max-height:30%;">
   			   </div>
				</div>
          <!--hidden="{{!hideAccountEditForm}}"-->
   			<div class="row" >
           <div class="col col-center">

     		<button class="button button-block button-positive" ng-click="
										taskPicture('IDCard')">用身份证注册</button> 		<button class="button button-block button-positive" ng-click="
										takephoto()">TEST</button>
     		   </div>
				    </div>

        </ion-content>



</ion-view>
