
 <style type="text/css">
 
pano {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

 
</style>
 
<ion-view view-title="全景图">

<ion-nav-buttons side="left">
      <button class="button  button-icon icon ion-navicon" ng-click="showpanolist()">
        全景图列表
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button  button-icon icon ion-settings" ng-show="{{editable}}" ng-click="addpano()">
         添加全景图
      </button>
    </ion-nav-buttons>
        <div class="content has-header ionic-pseudo">


    		
    		<ion-list ng-show='panolistShow'>
  <ion-item ng-repeat="item in curheritagePoint.panolist"
             class="item-button-right">

    全景图名：{{item.name}}               拍摄者：{{item.handler}}
            <button class="button ion-ios-eye button-positive"
                       ng-click="changepanourl(item)">
      查看
    </button>
    <ion-option-button ng-show="{{editable}}" class="button-positive ion-ios-eye"
                       ng-click="delpano(item)">
                       删除
    </ion-option-button>

  </ion-item>
</ion-list>
    		



    </div>
    <ion-content  scroll="false">
       <pano id="panocontainer" on-create="panoCreated(pano)"></pano>
    </ion-content>
 
</ion-view>
